<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shsxt.crm.dao.CustomerAddressMapper" >
  <resultMap id="BaseResultMap" type="com.shsxt.crm.po.CustomerAddress" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="zip_code" property="zipCode" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="street" property="street" jdbcType="VARCHAR" />
    <result column="areaRegion" property="arearegion" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="yn" property="yn" jdbcType="CHAR" />
    <result column="ts" property="ts" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_pin" property="createPin" jdbcType="VARCHAR" />
    <result column="update_pin" property="updatePin" jdbcType="VARCHAR" />
    <result column="versions" property="versions" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, customer_id, name, mobile, address, zip_code, remark, street, areaRegion, phone, 
    yn, ts, create_time, create_pin, update_pin, versions
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_customer_address
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_customer_address
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shsxt.crm.po.CustomerAddress" >
    insert into t_customer_address (id, customer_id, name, 
      mobile, address, zip_code, 
      remark, street, areaRegion, 
      phone, yn, ts, create_time, 
      create_pin, update_pin, versions
      )
    values (#{id,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{zipCode,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{street,jdbcType=VARCHAR}, #{arearegion,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{yn,jdbcType=CHAR}, #{ts,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createPin,jdbcType=VARCHAR}, #{updatePin,jdbcType=VARCHAR}, #{versions,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shsxt.crm.po.CustomerAddress" >
    insert into t_customer_address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="zipCode != null" >
        zip_code,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="street != null" >
        street,
      </if>
      <if test="arearegion != null" >
        areaRegion,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="yn != null" >
        yn,
      </if>
      <if test="ts != null" >
        ts,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createPin != null" >
        create_pin,
      </if>
      <if test="updatePin != null" >
        update_pin,
      </if>
      <if test="versions != null" >
        versions,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null" >
        #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="street != null" >
        #{street,jdbcType=VARCHAR},
      </if>
      <if test="arearegion != null" >
        #{arearegion,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="yn != null" >
        #{yn,jdbcType=CHAR},
      </if>
      <if test="ts != null" >
        #{ts,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createPin != null" >
        #{createPin,jdbcType=VARCHAR},
      </if>
      <if test="updatePin != null" >
        #{updatePin,jdbcType=VARCHAR},
      </if>
      <if test="versions != null" >
        #{versions,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shsxt.crm.po.CustomerAddress" >
    update t_customer_address
    <set >
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null" >
        zip_code = #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="street != null" >
        street = #{street,jdbcType=VARCHAR},
      </if>
      <if test="arearegion != null" >
        areaRegion = #{arearegion,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="yn != null" >
        yn = #{yn,jdbcType=CHAR},
      </if>
      <if test="ts != null" >
        ts = #{ts,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createPin != null" >
        create_pin = #{createPin,jdbcType=VARCHAR},
      </if>
      <if test="updatePin != null" >
        update_pin = #{updatePin,jdbcType=VARCHAR},
      </if>
      <if test="versions != null" >
        versions = #{versions,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shsxt.crm.po.CustomerAddress" >
    update t_customer_address
    set customer_id = #{customerId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      zip_code = #{zipCode,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      street = #{street,jdbcType=VARCHAR},
      areaRegion = #{arearegion,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      yn = #{yn,jdbcType=CHAR},
      ts = #{ts,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_pin = #{createPin,jdbcType=VARCHAR},
      update_pin = #{updatePin,jdbcType=VARCHAR},
      versions = #{versions,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>